@import '../../assets/styles/style-variables.scss';

.pieces{
    display: flex;
    gap: 1rem;
    > *{
        @extend %flex-center;
        width: 6rem;
        height: 4rem;
        color: $color__primary;
        @extend %border-radius-10;
    }
    .pieces__edit{
        background-color: #{$color__primary}25;
        @include fontStyle(3.2rem, 2.8rem);
    }
    .pieces__count{
        border: 1px solid $color__primary;
        @include fontStyle(2rem, 2.8rem);
    }
    .pieces__edit:disabled{
        background-color: #{$color__black}33;
    }
}