@import '../../assets/styles/style-variables.scss';

.collectionsPage{
    .headingSection{
        width: 100%;
    }
    .collectionsSection{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(min(100%, 44.6rem), 1fr) );
        gap: 2rem;
        margin-top: 4.4rem;
        .cardFolder{
            .cardFolder__image{
                img{
                    width: 100%;
                    height: 26.7rem;
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .collectionsPage{
        .collectionsSection{
            gap: 3rem;
            margin-top: 4rem;
            .cardFolder{
                .cardFolder__image{
                    img{
                        height: 19.3rem;
                    }
                }
            }
        }
    }
}