@import '../../assets/styles/style-variables.scss';

.profileChanges{
    @extend %flex-between;
    flex-direction: column;
    gap: 2rem;
    @extend %width-446;
    .profileChanges__inputs{
        @extend %flex-column;
        gap: 1rem;
    }
    .btn{
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .profileChanges{
        gap: 3rem;
    }
}