@import '../../assets/styles/style-variables.scss';

.showMessage_background{
    background-color: rgba(0, 0, 0, 0.30);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    > .container{
        @extend %flex-center;
        height: 100%;
    }

    .showMessage{
        background-color: $color__background;
        @extend %width-446;

        padding: 4.7rem min(4.7rem, 10%);
        @extend %flex-column;
        align-items: center;
        text-align: center;
        gap: 3.5rem;
        position: relative;

        > button{
            font-size: 2.6rem;
            @include absolute("top", "right", 1.5rem, 1.5rem);
        }

        .btn{
            width: 21.4rem ;
        }
    }
}

@media screen and (max-width:320px) {
    .showMessage_background{
    
        .showMessage{
            padding: 6rem min(1.6rem, 5%) 5.3rem;
        }
    }
}