@import '../../assets/styles/style-variables.scss';

.productColor__border{
    padding: 2px;
    border-radius: 50%;
    line-height: 0;
    .productColor{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
    }
}

@media screen and (max-width:320px) {
    .productColor__border{
        padding: 3px;
        .productColor{
            width: 2.5rem;
            height: 2.5rem;
    
        }
    }
}